:root {
  --gradient-start: #FF6F61; /* PANTONE 16-1546 TCX Living Coral */  
  --gradient-end: #5B7EBD;   /* PANTONE 17-4037 TCX Ultramarine */
}

body {
  font-family: "Open Sans", sans-serif;
}

h1, h2, h3, h4, h5, h6 {
  font-family: "Raleway", sans-serif;
}

.container-narrow {
  /* max-width: 720px; */
  max-width: 960px;
}

.pixelated {
  image-rendering: pixelated;
}

.nav-link.active {
  font-weight: bold;
}

.header-gradient {
  background: linear-gradient(to bottom right, var(--gradient-start), var(--gradient-end));
  -webkit-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent;
  color: transparent;
}

.logo-container {
  aspect-ratio: 1;
  margin: 0 auto;
  background: linear-gradient(to bottom right, var(--gradient-start), var(--gradient-end));
  -webkit-mask-repeat: no-repeat;
  mask-repeat: no-repeat;
  -webkit-mask-size: contain;
  mask-size: contain;
  -webkit-mask-position: center;
  mask-position: center;
}

.online {
  color: var(--bs-success);
}

.idle {
  color: var(--bs-warning);
}

.dnd {
  color: var(--bs-danger);
}

.offline {
  color: var(--bs-secondary);
}

.sprite, .sprite-dnd, .sprite-idle, .sprite-online {
  animation-duration: 1.2s;
  animation-iteration-count: infinite;
  animation-direction: alternate;
  animation-timing-function: ease-in-out;
}
.sprite-online {
  animation-name: glower-online;
}
@keyframes glower-online {
  0%, 100% {
    filter: saturate(1.25) brightness(1) drop-shadow(0 0 0.25rem var(--bs-success));
  }
  50% {
    filter: saturate(1.5) brightness(1.1) drop-shadow(0 0 1rem var(--bs-success));
  }
}
.sprite-idle {
  animation-name: glower-idle;
}
@keyframes glower-idle {
  0%, 100% {
    filter: saturate(1) brightness(1) drop-shadow(0 0 0.25rem var(--bs-warning));
  }
  50% {
    filter: saturate(1.25) brightness(1.1) drop-shadow(0 0 0.75rem var(--bs-warning));
  }
}
.sprite-dnd {
  animation-name: glower-dnd;
}
@keyframes glower-dnd {
  0%, 100% {
    filter: saturate(0.75) brightness(1) drop-shadow(0 0 0.25rem var(--bs-danger));
  }
  50% {
    filter: saturate(1) brightness(1.1) drop-shadow(0 0 0.5rem var(--bs-danger));
  }
}
.sprite-offline {
  filter: saturate(0.25) brightness(0.8);
}
