---
layout: default
title: RPG Club
description: A book club for RPGs where members vote on a game to play each month and share media contributions.
icon: rpgclub
---

<p>
  RPG Club is an engaging and social activity that can be best described as a book club for role playing games
  (RPGs). At the start of the last week of each month, our group selects three or four potential games to play. By
  Wednesday of that week, we vote on which game to play for the following month.
</p>

<p>
  During the month long activity, all participants are highly encouraged to play and discuss the selected game while
  also sharing and contributing their favorite media related to the game. Our community is open to all types of
  contributions, including fan art, videos, pictures, and even romhacks.
</p>

<p>
  We also offer exciting group activities such as watch parties for related media, like watching the Final Fantasy XV
  movie or the anime prequel. Another way to contribute is through game streaming, which can be an incredibly fun way to
  share your experiences and strategies with other members of the community.
</p>

<p>
  Although none of these contributions are mandatory, we believe that they are excellent ways to make the most of the
  activity and enhance the experience. Join us and discover a welcoming community of RPG enthusiasts who love to read,
  play, and share their passion for this genre!
</p>

<h3 class="fw-light">Current Chapter</h3>
<div class="container mb-4">
  <div class="row row-cols-1 row-cols-md-2 row-cols-lg-3 g-4">
    {% assign current_card = site.data.rpgclub[0] %}
    {% include club_card.html card=current_card %}
  </div>
</div>

<h3 class="fw-light">Chronicle</h3>
<div class="container mb-4">
  <div class="row row-cols-1 row-cols-md-2 row-cols-lg-3 g-4">
    {% for card in site.data.rpgclub offset:1 %}
        {% include club_card.html card=card %}
    {% endfor %}
  </div>
</div>

<div class="container">
  <h3 class="fw-light">Statistics</h3>
  <table class="table table-hover">
    <thead>
      <tr>
        <th scope="col">Stat</th>
        <th scope="col">Value</th>
        <th scope="col">Game</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td>Average Age</td>
        <td>{{ site.data.stats.average_duration }}</td>
        <td>-</td>
      </tr>
      <tr>
        <td>Median Selection Time</td>
        <td>{{ site.data.stats.median_game.duration }}</td>
        <td><a href="#{{ site.data.stats.median_game.title | slugify }}" class="game-link text-decoration-none">{{ site.data.stats.median_game.title }}</a></td>
      </tr>
      <tr>
        <td>Longest Selection Time</td>
        <td>{{ site.data.stats.longest_time_to_selection.duration }}</td>
        <td><a href="#{{ site.data.stats.longest_time_to_selection.title | slugify }}" class="game-link text-decoration-none">{{ site.data.stats.longest_time_to_selection.title }}</a></td>
      </tr>
      <tr>
        <td>Shortest Selection Time</td>
        <td>
          {% if site.data.stats.shortest_time_to_selection.duration contains "-" %}
            Ahead by {{ site.data.stats.shortest_time_to_selection.duration | remove: "-" }}
          {% else %}
            {{ site.data.stats.shortest_time_to_selection.duration }}
          {% endif %}
        </td>
        <td><a href="#{{ site.data.stats.shortest_time_to_selection.title | slugify }}" class="game-link text-decoration-none">{{ site.data.stats.shortest_time_to_selection.title }}</a></td>
      </tr>
    </tbody>
  </table>

  <table class="table table-hover">
    <thead>
      <tr>
        <th scope="col">Decade</th>
        <th scope="col">Count</th>
      </tr>
    </thead>
    <tbody>
      {% for item in site.data.stats.games_per_decade %}
      {% assign decade = item[0] %}
      {% assign count = item[1] %}
      <tr>
        <td>{{ decade }}s</td>
        <td>{{ count }}</td>
      </tr>
      {% endfor %}
    </tbody>
  </table>
</div>
