---
layout: default
title: RPG Club
description: A book club for RPGs where members vote on a game to play each month and share media contributions.
icon: rpgclub
---

<p>
  RPG Club is a community event that operates like a club for role playing games (RPGs). Near the end of each month, our
  group nominates and votes on games for future play. The game selected for the current month automatically carries over
  to the next poll, allowing it to be played for multiple months.
</p>


<p>
  Throughout the event, participants are encouraged to play and discuss the selected game while sharing their favorite
  related media. Contributions can include fan art, videos, images, romhacks, and game streaming as a way to share
  experiences and strategies with the community.
</p>

<p>
  Although participation in these activities is optional, they provide great opportunities to enhance the overall
  experience. Join us to explore a community of RPG enthusiasts who enjoy playing and sharing their passion for this
  genre!
</p>

<h3 class="fw-light mt-4">Current Chapter</h3>
<div class="row row-cols-1 row-cols-md-2 row-cols-lg-3 g-4">
  {% assign current_card = site.data.rpgclub[0] %}
  {% include club_card.html card=current_card %}
</div>

<h3 class="fw-light mt-4">Statistics</h3>
{% include stat_selectiontime.html %}
{% include stat_decade.html %}

<h3 class="fw-light mt-4">Chronicle</h3>
<div class="row row-cols-1 row-cols-md-2 row-cols-lg-3 g-4">
  {% for card in site.data.rpgclub offset:1 %}
  {% include club_card.html card=card %}
  {% endfor %}
</div>
