<div class="col" id="{{ include.card.name | slugify }}">
    <div class="card rounded-5 shadow-sm" style="overflow: hidden;">
      <img src="assets/covers/{{ include.card.name | slugify }}.jpg" class="card-img-top ratio ratio-1x1" alt="{{ include.card.name }}" loading="lazy">
      <div class="card-body">
        <h5 class="card-title">{{ include.card.name }}</h5>
        <h6 class="fw-light">Selected</h6>
        <p class="card-text">{{ include.card.date.select | date: "%B %e, %Y" }}</p>
        <h6 class="fw-light">Released</h6>
        <p class="card-text">{{ include.card.date.release | date: "%B %e, %Y" }}</p>
      </div>
    </div>
 </div>
 