<footer class="text-center">
    <div class="d-inline-flex my-sm-5 my-4 p-4 border rounded-5 shadow-sm">
    <ul class="text-body-tertiary list-inline m-0">
        <li class="list-inline-item">
            <i class="fa-regular fa-copyright"></i> {{ site.title }} {{ site.year }}&ndash;{{ site.time | date: '%Y' }}
        </li>
        <li class="list-inline-item">
            <a href="https://github.com/{{ site.github }}/" class="link-secondary" title="Contribute on GitHub">
                <i class="fa-brands fa-github fa-xl fa-fw"></i>
            </a>
        </li>
      </ul>
    </div>
</footer>