:root {
  --gradient-start: #FF6F61; /* PANTONE 16-1546 TCX Living Coral */  
  --gradient-end: #5B7EBD;   /* PANTONE 17-4037 TCX Ultramarine */
}

body {
    font-family: 'Open Sans', sans-serif;
}

h1, h2, h3, h4, h5, h6 {
    font-family: 'Raleway', sans-serif;
}

.container-narrow {
    /* max-width: 720px; */
    max-width: 960px;
}

.pixelated {
    image-rendering: pixelated;
}

.nav-link.active {
    font-weight: bold;
}

.logo-container {
    aspect-ratio: 1;
    margin: 0 auto;
    background: linear-gradient(to bottom right, var(--gradient-start), var(--gradient-end));
    -webkit-mask-repeat: no-repeat;
    mask-repeat: no-repeat;
    -webkit-mask-size: contain;
    mask-size: contain;
    -webkit-mask-position: center;
    mask-position: center;
}

@mixin gradient-text($startColor, $endColor) {
    background: linear-gradient(to bottom right, $startColor, $endColor);
    -webkit-background-clip: text;
    background-clip: text;
    -webkit-text-fill-color: transparent;
    color: transparent;
}

.header-gradient {
    @include gradient-text(var(--gradient-start), var(--gradient-end))
}

// Status

.online {
    color: var(--bs-success);
}

.idle {
    color: var(--bs-warning);
}

.dnd {
    color: var(--bs-danger);
}

.offline {
    color: var(--bs-secondary);
}

// Styles for Member Sprite status
@mixin glower($name, $saturate-start, $saturate-end, $shadow-end, $shadow-color) {
    @keyframes #{$name} {
        0%,
        100% {
            filter: saturate($saturate-start) brightness(1) drop-shadow(0 0 0.25rem $shadow-color);
        }

        50% {
            filter: saturate($saturate-end) brightness(1.1) drop-shadow(0 0 $shadow-end $shadow-color);
        }
    }
}

.sprite {
    animation-duration: 1.2s;
    animation-iteration-count: infinite;
    animation-direction: alternate;
    animation-timing-function: ease-in-out;

    $statuses: (
        "online": (1.25, 1.5, 1rem, var(--bs-success)),
        "idle": (1.0, 1.25, 0.75rem, var(--bs-warning)),
        "dnd": (0.75, 1.0, 0.5rem, var(--bs-danger))
    );

    @each $name, $values in $statuses {
        &-#{$name} {
            @extend .sprite;
            @include glower(glower-#{$name}, nth($values, 1), nth($values, 2), nth($values, 3), nth($values, 4));
            animation-name: glower-#{$name};
        }
    }

    &-offline {
        filter: saturate(0.25) brightness(0.8);
    }
}
