<!doctype html>
<html>

<head>
  <meta charset="utf-8">
  <meta http-equiv="x-ua-compatible" content="ie=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  
  <!-- https://fonts.google.com/share?selection.family=Open%20Sans:ital,wght@0,300;0,400;0,700;1,400;1,700%7CRaleway:wght@300;400;500;700 -->
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,400;0,700;1,400;1,700&family=Raleway:wght@300;400;500;700&display=swap" rel="stylesheet">

  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" 
    integrity="sha256-PI8n5gCcz9cQqQXm3PEtDuPG8qx9oFsFctPg0S5zb8g=" crossorigin="anonymous">

  <link rel="stylesheet" href="{{ site.baseurl }}{% link css/main.css%}">
  <link rel="shortcut icon" href="{{ site.baseurl }}{% link assets/images/favicon.ico %}">
  <link rel="apple-touch-icon" href="{{ site.baseurl }}{% link assets/images/apple-touch-icon.png %}">
  {% seo %}
</head>

<body>
  {% include navigation.html %}  
  <div class="container container-narrow">    
    {% include header.html %}
    <main>
      {{ content }}
    </main>    
    {% include footer.html %}
  </div>  

  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js"
    integrity="sha256-CDOy6cOibCWEdsRiZuaHf8dSGGJRYuBGC+mjoJimHGw=" crossorigin="anonymous"></script>

  <script src="js/theme.js"></script>
  <script src="https://kit.fontawesome.com/626b1a7cf8.js" crossorigin="anonymous"></script>
  <script async src="https://www.googletagmanager.com/gtag/js?id=G-ZH1JPJKYCP"></script>
  <script>
    window.dataLayer = window.dataLayer || [];
    function gtag(){dataLayer.push(arguments);}
    gtag('js', new Date());

    gtag('config', 'G-ZH1JPJKYCP');
  </script>
</body>

</html>